<div class="home-page">
  <div>  
    <h1>Cinema</h1>
    <h1>Ironhack</h1>
    <a href="/movies" class="btn btn-light">Check the movies!</a>
    <a href="/add-movie" class="btn btn-info">Add a movie</a>
  </div>
</div>


