<div class="container pt-5">
  <div class="row">
      {{!-- let title = req.body.title;
  let director = req.body.director;
  let image = req.body.image;
  let description = req.body.description; --}}
    <div class="col-3">
      <img src="{{movie.image}}" alt="">
    </div>
    <div class="col-6">
      <h1>{{movie.title}}</h1>
      <h3>Directed by {{movie.director}}</h3>
      
      <h6>{{movie.description}}</h6>
    </div>
  </div>
</div>